body {
    max-width: 1440px;
    min-width: 375px;
    background-color: rgb(103, 75, 175);
    background-image: url("bg-desktop.svg");
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Poppins';
    font-weight: 600;
}
p {
    padding-bottom: 10px;
}
.mainstuff {
    display: flex;
    justify-content: inherit;
}
.logo img {
    width: 170px;
    height: 170px;
    padding-left: 60px;
}
.illustrations {
    padding-left: 60px;
}
.title {
    color: white;
    margin: 0 50px;
    padding: 20px 40px;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: rgb(62, 82, 163); 
}
button {
    color: rgb(103, 75, 175);
    background-color: white;
    border-radius: 50px;
    border-color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins';
    letter-spacing: 0.1px;
    padding: 10px 50px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.204);
}
.socials {
    display: flex;
    margin: right;
}